.RockPaperScissors {
    width: 450px;
    max-width: 100%;
}

.RockPaperScissors .flex {
    display: flex;
}

.RockPaperScissors .flex p {
    margin-bottom: 0;
}

.half-screen {
    flex: 0 0 45%;
    padding: 1rem 2.5%;
}

.hide {
    display: none;
}

.content-holder {
    min-height: 200px;
}

.pc-answer {
    text-transform: capitalize;
}


#player_select {
    display: flex;
    flex-flow: row wrap;
}

button {
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 5px 15px;
    flex: 1 1 auto;
    margin: 2px;
    cursor: pointer;
    line-height: 1rem;
    transition: scale 0.2s ease, font-size 0.2s ease;
}

button.active {
    color: #88eeff;
    outline-color: #88eeff;
    border-color: #88eeff;
}


button:active {
    position: relative;
    font-size: 1rem;
    transition: font-size 0.2s ease;
    color: #2f6773;
}

.pre-wrapper {
    width: 500px;                          /* specify width  */
    max-width: 100%;                       /* specify width  */
}

pre {
    text-align: left;
    font-size: calc(10px + 1vmin);
    font-family: Consolas,monospace;
    max-width: 100%;                       /* specify width  */
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;                 /* IE 5.5+ and up */
	}
